<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;automatic_fire - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/automatic_fire.html#var">Var Details</a> - <a href="datum/component/automatic_fire.html#proc">Proc Details</a></header>
<main>
<h1>automatic_fire <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/automatic_fire.html">automatic_fire</a></aside>
        
    
            <a href="https://github.com/fulpstation/fulpstation/blob/629e2d40b55cd98862d1c91ccc4f04e9286e1fdc/code/datums/components/fullauto.dm#L4">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;fullauto.dm 4"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/automatic_fire.html#var/current_windup_reduction">current_windup_reduction</a></th><td>the reduction to shot delay for windup</td></tr>
            <tr><th><a href="datum/component/automatic_fire.html#var/timerid">timerid</a></th><td>Timer for tracking the spindown reset timings</td></tr>
            <tr><th><a href="datum/component/automatic_fire.html#var/windup_autofire">windup_autofire</a></th><td>windup autofire vars
Whether the delay between shots increases over time, simulating a spooling weapon</td></tr>
            <tr><th><a href="datum/component/automatic_fire.html#var/windup_autofire_cap">windup_autofire_cap</a></th><td>How high of a reduction that current_windup_reduction can reach</td></tr>
            <tr><th><a href="datum/component/automatic_fire.html#var/windup_autofire_reduction_multiplier">windup_autofire_reduction_multiplier</a></th><td>the percentage of autfire_shot_delay that is added to current_windup_reduction</td></tr>
            <tr><th><a href="datum/component/automatic_fire.html#var/windup_spindown">windup_spindown</a></th><td>How long it takes for weapons that have spooled-up to reset back to the original firing speed</td></tr><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/automatic_fire.html#proc/windup_reset">windup_reset</a></th><td>Reset for our windup, resetting everything back to initial values after a variable set amount of time (determined by var/windup_spindown).</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/current_windup_reduction"><aside class="declaration">var </aside>current_windup_reduction
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/fulpstation/fulpstation/blob/629e2d40b55cd98862d1c91ccc4f04e9286e1fdc/code/datums/components/fullauto.dm#L18">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;fullauto.dm 18"/></a></h3>
        <p>the reduction to shot delay for windup</p><h3 id="var/timerid"><aside class="declaration">var </aside>timerid
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/fulpstation/fulpstation/blob/629e2d40b55cd98862d1c91ccc4f04e9286e1fdc/code/datums/components/fullauto.dm#L26">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;fullauto.dm 26"/></a></h3>
        <p>Timer for tracking the spindown reset timings</p><h3 id="var/windup_autofire"><aside class="declaration">var </aside>windup_autofire
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/fulpstation/fulpstation/blob/629e2d40b55cd98862d1c91ccc4f04e9286e1fdc/code/datums/components/fullauto.dm#L16">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;fullauto.dm 16"/></a></h3>
        <p>windup autofire vars
Whether the delay between shots increases over time, simulating a spooling weapon</p><h3 id="var/windup_autofire_cap"><aside class="declaration">var </aside>windup_autofire_cap
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/fulpstation/fulpstation/blob/629e2d40b55cd98862d1c91ccc4f04e9286e1fdc/code/datums/components/fullauto.dm#L22">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;fullauto.dm 22"/></a></h3>
        <p>How high of a reduction that current_windup_reduction can reach</p><h3 id="var/windup_autofire_reduction_multiplier"><aside class="declaration">var </aside>windup_autofire_reduction_multiplier
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/fulpstation/fulpstation/blob/629e2d40b55cd98862d1c91ccc4f04e9286e1fdc/code/datums/components/fullauto.dm#L20">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;fullauto.dm 20"/></a></h3>
        <p>the percentage of autfire_shot_delay that is added to current_windup_reduction</p><h3 id="var/windup_spindown"><aside class="declaration">var </aside>windup_spindown
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/fulpstation/fulpstation/blob/629e2d40b55cd98862d1c91ccc4f04e9286e1fdc/code/datums/components/fullauto.dm#L24">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;fullauto.dm 24"/></a></h3>
        <p>How long it takes for weapons that have spooled-up to reset back to the original firing speed</p><h2 id="proc">Proc Details</h2><h3 id="proc/windup_reset"><aside class="declaration">proc </aside>windup_reset<aside>(deltimer) 
        
    
            <a href="https://github.com/fulpstation/fulpstation/blob/629e2d40b55cd98862d1c91ccc4f04e9286e1fdc/code/datums/components/fullauto.dm#L265">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;fullauto.dm 265"/></a></aside>
        </h3>
        <p>Reset for our windup, resetting everything back to initial values after a variable set amount of time (determined by var/windup_spindown).</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/fulpstation/fulpstation/tree/629e2d40b55cd98862d1c91ccc4f04e9286e1fdc">629e2d4</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.7.3</a></footer>
</body>
</html>
