<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>code&#x2F;modules&#x2F;atmospherics&#x2F;machinery&#x2F;components&#x2F;unary_devices&#x2F;vent_scrubber.dm - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.html#define">Define Details</a></header>
<main>
<h1>code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm 
            <a href="https://github.com/fulpstation/fulpstation/blob/629e2d40b55cd98862d1c91ccc4f04e9286e1fdc/code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm">
        <img src="git.png" width="16" height="16" title="code&#x2F;modules&#x2F;atmospherics&#x2F;machinery&#x2F;components&#x2F;unary_devices&#x2F;vent_scrubber.dm"/></a></h1>

<table class="summary" cellspacing="0">
        <tr><th><a href="code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.html#define/MINIMUM_MOLES_TO_SCRUB">MINIMUM_MOLES_TO_SCRUB</a></th><td>filtered gases at or below this amount automatically get removed from the mix</td></tr></table><h2 id="define">Define Details</h2>
<h3 id="define/MINIMUM_MOLES_TO_SCRUB"><aside class="declaration">#define </aside>MINIMUM_MOLES_TO_SCRUB
            <a href="https://github.com/fulpstation/fulpstation/blob/629e2d40b55cd98862d1c91ccc4f04e9286e1fdc/code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm#L231">
        <img src="git.png" width="16" height="16" title="code&#x2F;modules&#x2F;atmospherics&#x2F;machinery&#x2F;components&#x2F;unary_devices&#x2F;vent_scrubber.dm 231"/></a>
    </h3>
    <p>filtered gases at or below this amount automatically get removed from the mix</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/fulpstation/fulpstation/tree/629e2d40b55cd98862d1c91ccc4f04e9286e1fdc">629e2d4</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.7.3</a></footer>
</body>
</html>
